!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : Rails.application.class.parent_name.underscore.titleize
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Testapp'}"}
    %meta{:name => "viewport", :content => "width=device-width", "initial-scale" => 1.0}
    = stylesheet_link_tag 'express_admin/application', media: 'all', 'data-turbolinks-track' => true
    -# Modernizr is required for Zurb Foundation
    = javascript_include_tag 'vendor/modernizr'
    = javascript_include_tag 'express_admin/application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header#header
      = render 'shared/express_admin/navigation_bar'
    = content_for?(:content) ? yield(:content) : yield
    = render 'shared/express_admin/footer'
    - if Kernel.const_defined?('AppExpress::Engine')
      = javascript_include_tag 'message-bus'
    - if Kernel.const_defined?('ExpressBlog::Engine')
      = javascript_include_tag 'tinymce-jquery'
      :javascript
        $(function() {
          tinyMCE.init({
            selector: 'textarea.tinymce',
            menubar: false,
            width: 905,
            height: 360
          });
        });
    = yield(:page_javascript)
