- content_for :content do
  %main.main-container{role: "main"}
    = render 'shared/express_admin/messages'
    - if content_for?(:page_header)
      .page-header
        .row
          .small-12.columns
            = yield :page_header
    .row
      = yield

- content_for :page_css do
  = stylesheet_link_tag 'app_express/application'

= render template: 'layouts/express_admin/admin'
